.svn
*.o
*.swp
compile
wizkit
Aenderungen
GRUNDSAETZE.de

dat/*.lev
dat/data
dat/dungeon
dat/dungeon.pdf
dat/nhdat
dat/options
dat/oracles
dat/quest.dat
dat/quest_levs
dat/rumors
dat/spec_levs

debian/nethack-de/

doc/Guidebook
doc/*.ps
doc/*.aux
doc/*.log
doc/*.pdf
doc/*.toc


homepage/output
homepage/nethack-hp.tar.gz

include/autoconf.h
include/date.h
include/dgn_comp.h
include/lev_comp.h
include/onames.h
include/pm.h
include/win32api.h

src/*.bb
src/*.bbg
src/*.da
src/*.diff
src/*.gcov
src/*.orig
src/*.rej
src/Sysunix
src/Syswinnt
src/classHierarchyPrinter.rb
src/config.h-t
src/german_gott_weiblich_test
src/german_gott_weiblich_test_check_testsuite.xml
src/german_test
src/german_test.exe
src/german_test_check_testsuite.xml
src/german_wishing_test
src/german_wishing_test_check_testsuite.xml
src/hack.h-t
src/monstr.c
src/nethack-de
src/nethack-de.exe
src/nethack-de.log
src/nh340key.dll
src/nhdefkey.dll
src/nhraykey.dll

util/dgn_comp
util/dgn_comp.exe
util/lev_comp
util/lev_comp.exe
util/makedefs
util/makedefs.exe
util/recover
util/recover.exe
util/dlb
util/dlb.exe
util/dgn_lex.c
util/dgn_yacc.c
util/lev_lex.c
util/lev_yacc.c

nhtohtml/html/*.html
Makefile
binary
config.log
config.status
doxygen
nethack.doxygen
