html, body {
	background: black;
	font: 100% Verdana,Tahoma,Arial,sans-serif;
}

a:link    { color: #5a5dff; } /* trankblau */
a:visited { color: #0033ff; } /* aufgehelltes wasserblau */
a:hover   { color: #ce00ce; } /* teleporterviolett */

p {
	line-height: 1.5em;
	margin: 0 0 15px;
}

#titel {
	padding: 0.6ex;
	background-color: green;
}

/* Titelei */
#titel h1,
#titel h2 {
	color: black;
	background-color: #00cb00; /* zwerggruen */
	font-variant: small-caps;
	margin: 0px;
	padding: 0px;
}

#titel h1 {
	font-size: 2.4em;
	padding-left: 1ex;
}

#titel h2 {
	font-size: 1.6em;
	padding-left: 1.66ex;
}

.flattr {
	float: right;
	background-color: #00cb00; /* zwerggruen */
	padding-top: 0.15em;
	padding-right: 0.15em;
}
.flattr * {
	background-color: #00cb00; /* zwerggruen */
}
.flattr img {
	border: 0px solid black;
}


/* Menu */
#menu ul {
	font-size: 100%;
	margin: 0px;
	padding: 0px;
}

#menu li {
	display: inline;
	list-style: none;
	margin: 0px;
	padding: 0px;
}

#menu ul:first-child {
	border-left: 1px solid #b0b0b0;
}
#menu ul:last-child {
	border-right: 1px solid #b0b0b0;
}
/* Links in Reiter */
#menu a, #menu span {
	border-right: 1px solid #b0b0b0;

	padding: 11px 10px 10px;
	font-variant: small-caps;

	color: #0033ff; /* aufgehelltes wasserblau */
	background-color: #131336; /* dunkles trankblau */
	text-decoration: none;
}
/* Bereich unterhalb und rechts der Reiter */
#menu ul {
	padding: 11px 0px 10px 0px;
	background-color: #131336; /* dunkles trankblau */
}

#menu a:hover {
	background:#ffffff;
	color:#505050;
	text-decoration: none;
	background-color: #5a5dff; /* trankblau */
	color: black;
}

/* aktueller Reiter */
#menu .webgen-menu-item-selected a, #menu .webgen-menu-item-selected span {
	color: #5a5dff; /* trankblau */
	background-color: black;
}


#content,#contentalt {
	/*background-color:#fafcff;*/
	border: 1px solid #909090;
	color:#2a2a2a;
	padding: 15px 20px 5px;
}



img {
	border: 1px #DDD solid;
	padding: 1px;
}

.hellblau { color: #00cbce; }
.wasserblau { color: #0033ff; } /* aufgehelltes wasserblau */
.tuerbraun { color: #cecb00; }
.trankblau { color: #5a5dff; }
.edelsteinrot { color: #ce0000; }
.teleporterviolett { color: #ce00ce; }
.gelb { color: #ffff00; }
.zwerggruen { color: #00cb00; }
.gruen { color: #00ff00; }


/* customize text selection to fit to the "CI" of the page ;-) */
::selection { background-color: #00cb00; color: #ffffff; }
/* for Gecko-browsers, ::-moz-selection, ::selection doesn't work for them*/
::-moz-selection { background-color: #00cb00; color: #ffffff; }

#logo img {
  border: 0px red solid;
}
#logo {
  text-align: right;
}

/* NetHack Poll 2009 */
textarea,
input
{
border: 2px solid #AAA;
background-color: #080808;
}
textarea:focus,
input:focus
{
background-color: #222;
}

.btn
{
border: 2px outset #d7b9c9
}
