
body {
  font-family: arial, sans-serif;
  background: #000000;
  color: #d0d0d0;
  width: 34em;
  position: relative;
  top: 20%;
  padding-left: 1em;
}

table {
  border-collapse: collapse;
  margin-left: 1em;
}

.monster_table td.name {
  padding-left: 0.5em;
}

a {
  color: #ffffff;
}

h1 {
}

.attribute {
  font-weight: bold;
}

.separator {
  clear: both;
  height: 0.1em;
  color: #444;
  background-color: #444;
  border: 0;
}

.entry {
  padding: .75em;
}

.symbol {
  font-family:monospace;
  background:#111111;
  padding: 0.1em;
}

div.symbol {
  font-size:300%;
  float:right;
}

.attack ul {
  margin-top: 0px;
  padding-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.attack li {
  font-style: normal;
}

.resist {
  float: left;
/*  position: absolute;
  top: 0px;
  left: 0px; */
}

.convey {
  position: absolute;
  top: 0px;
  left: 250px; 
}

.flags {
  clear: both;
}

