---
title: English Summary
---
<p>NetHack-De is a German translation of <a href="http://www.nethack.org/">NetHack</a>.</p>

<p>The current state of the translation is work-in-progress.</p>

<p>At the moment around
<%= `cd ../src; ./statistik | tail -1 | tr -s \\  | cut -f 5 -d \\  | cut -f 1 -d .` %>%
of the in-game text is translated.<br />
Detailed information about the progress of the translation can be found on the <a href="status.html">status page</a>.</p>

<p>The source code and binary packages for Windows and Linux are available from <a href="http://sourceforge.net/project/showfiles.php?group_id=191550">Sourceforge</a>.</p>

<p><img src="nethack_inventory.png" title="Screenshot NetHack-De showing the inventory" alt="Screenshot NetHack-De showing the inventory" /></p>
